<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> <!-- load jQuery -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<title>Nodechan - Admin Panel</title>
<body><div class="main">
<div class="main-container">

    <p>Hi. Welcome to the Admin Panel, <%=user%></p>
  <div class="row" id="admin-panel">
	<div style="width:100%;">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1default" data-toggle="tab">Add/Delete Boards</a></li>
                <li><a href="#tab2default" data-toggle="tab">Stickied Threads</a></li>
                <li><a href="#tab3default" data-toggle="tab">Locked Threads</a></li>
                <li><a href="#tab4default" data-toggle="tab">IP Bans</a></li>
                <li><a href="#tab5default" data-toggle="tab">Reported Threads</a></li>
                <li><a href="#tab6default" data-toggle="tab">Posts By User</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">

                <!-- 
                    BOARDS LIST TAB CONTENTS
                -->
                <div class="tab-pane fade in active" id="tab1default">
                    <div class="add-boards-panel">
                        <% var categories = boards.map(b=>b.category).filter((value,index,self) => self.indexOf(value) === index) %>
                        <h3>Add a new board</h3>
                        <form method="POST" action="/admin/boards">
                            <input name="action" value="New Board" type="hidden"></input>
                            Board Code:     <input name="code" placeholder="New Board Code"></input><br>
                            Board Title:    <input name="title" placeholder="New Board Title"></input><br>
                            Board Category: <input name="category" placeholder="New Board Category"></input><br>
                            <input type="submit" />
                        </form>
                    </div>
                    <div class="edit-boards-panel">
                        <hr>
                        <h3>Edit Existing Boards</h3>
                        <% boards.forEach(function(board){ %>
                                <div class="boards-editor" id="be-<%=board.boardCode%>">
                                <h4>/<span class="boardCode" id="bc-<%=board.boardCode%>"><%=board.boardCode%></span>/ - <span  class="boardTitle" id="bt-<%=board.boardCode%>"> <%=board.boardTitle%></span></h4>
                                Category: <span class="catspan" id="cs-<%-board.boardCode%>"><%=board.category%></span><br>
                                Rename Board: <input class="newBoardTitle" id="newTitle-<%=board.boardCode%>" placeholder="New Board Title"></input><button class="newBoardTitle" id="submitcode-<%=board.boardCode%>">Update</button><br>
                                Change Board Code: <input class="newBoardCode" id="newcode-<%=board.boardCode%>" placeholder="New Board Code"></input><button class="newBoardCode" id="submitcode-<%=board.boardCode%>">Update</button><br>

                                Change Category: <select id="uc-<%=board.boardCode%>" name="category"><%categories.forEach(function(cat){%><option value="<%=cat%>"><%=cat%></option><%})%></select> <button class="updateCategory" id="updateCat-<%=board.boardCode%>" >Update</button><br>
                                New Category: <input class="newBoardCat" id="newCat-<%=board.boardCode%>" placeholder="New Board Category"></input><button class="newCategory" id="newCategory-<%=board.boardCode%>">Update</button><br>
                               <form action="/admin/boards" method="POST"><input name="action" value="Delete" type="hidden"></input><input name="board" value="<%=board.boardCode%>" type="hidden"></input><button class="delete" id="deleteboard-<%=board.boardCode%>" onclick="return confirm('Are you sure you want to delete this board?')">Delete</button></form>
                            <hr>
                            </div>
                        <% }) %>
                    </div>
                </div> 

                <!-- 
                    STICKY THREAD TAB CONTENTS
                -->
                <div class="tab-pane fade" id="tab2default"> 
                    <%boards.forEach(function(board){%> 
                        <h4>/<%=board.boardCode%>/ - <%=board.boardTitle%></h4>  
                        <% var stickied = board.stickyThreads %> 
                            <% if(stickied.length==0){%> 
                                <ul><li>No Stickied threads</li></ul> 
                            <% } else { %> 
                                <ul> 
                                <%stickied.forEach(function(sticky){%> 
                                    <li><a href="/<%=board.boardCode%>/thread/<%=sticky%>"><%=sticky%></a> <button class="unsticky" id="unsticky-<%=board.boardCode%>-<%=sticky%>">Unsticky</button></li>  
                                <% }) %> 
                                </ul> 
                            <% } %> 
                        <div class="addStickyOption" id="addStickyOption-<%=board.boardCode%>">Click to Add Sticky</div>
                        <div class="addSticky hidden" id="sticky-<%=board.boardCode%>"><input class="addSticky" type="text" id="addSticky-<%=board.boardCode%>"></input><button class="addSticky" id="sticky-<%=board.boardCode%>">Add</button></div> 
                    <% }) %>
                </div>

                <!--
                    LOCKED THREAD TAB CONTENTS
                -->
                <div class="tab-pane fade" id="tab3default"> 
                    <%boards.forEach(function(board){%> 
                        <h4>/<%=board.boardCode%>/ - <%=board.boardTitle%></h4>  
                        <% var locked = board.lockedThreads %> 
                            <% if(locked.length==0){%> 
                                <ul><li>No Locked threads</li></ul> 
                            <% } else { %> 
                                <ul> 
                                <%locked.forEach(function(lock){%> 
                                    <li><a href="/<%=board.boardCode%>/thread/<%=lock%>"><%=lock%></a> <button class="unlcok" id="unlock-<%=board.boardCode%>-<%=lock%>">Unlock</button></li>  
                                <% }) %> 
                                </ul> 
                            <% } %> 
                        <div class="addLockOption" id="addLockOption-<%=board.boardCode%>">Click to Lock</div>
                        <div class="addLock hidden" id="lock-<%=board.boardCode%>"><input class="addLock" type="text" id="addLock-<%=board.boardCode%>"></input><button class="addLock" id="lock-<%=board.boardCode%>">Add</button></div> 
                    <% }) %>
                </div>
                <!-- 
                    BANNED IP'S TAB CONTENTS
                -->
                <div class="tab-pane fade" id="tab4default">
                    <%if(bans.length==0){%>
                    <div class="banContainer">There are no active bans</div>
                    <%} else { %>
                        <% bans.forEach(function(ban){%>
                            <div class="banContainer reply" id="bc-<%=ban._id%>">
                                <div>IP Address: <span style="font-weight:bold"><%=ban.IP%></span></div>
                                <div>Ban Start: <span style="font-weight:bold"><%=new Date(ban.start)%></span></div>
                                <div>Ban End: <span style="font-weight:bold"><%=new Date(ban.end)%></span></div>
                                <div>Reason: <span style="font-weight:bold"><%=ban.reason%></span></div>
                                <div>Admin: <span style="font-weight:bold"><%=ban.admin%></span></div>
                                <select name="ban-edit" id="ban-<%=ban._id%>">
                                    <option value="1day">24 Hour Ban</option>
                                    <option value="3day">72 Hour Ban</option>
                                    <option value="permanent">Permaban</option>
                                    <option value="unban">Unban</option>
                                </select>
                                <button class="banEditor" id="be-<%=ban._id%>">Edit Ban</button>
                            </div><hr>
                        <% }) %>
                    <%}%>
                    
                </div> 
                <!-- 
                    REPORTED POSTS/THREADS CONTENTS
                -->
                <div class="tab-pane fade" id="tab5default">
                    <%for(var n=0;n<reports.length;n++){%>
                        <% var thisReport = reports[n] %>
                        <div class="reply" style="padding:5px;">
                            <span>Board: <%=thisReport.board%></span><br>
                            <span>Post: <%=thisReport.post%></span><br>
                            <span>Reporting IP: <%=thisReport.reportingIP%></span><br>
                            <span>Reason: <%=thisReport.reason%></span><br>
                            <button class="getPost" id="gp-<%=thisReport.board%>-<%=thisReport.post%>-<%=n%>">Get Offending Post</button>
                            <div class="offendingPost" id="ofp-<%=thisReport.board%>-<%=thisReport.post%>-<%=n%>"></div>
                            <h5>Take Action:</h5>
                            <select name="response" id="rep-<%=thisReport.board%>-<%=thisReport.post%>">
                                <option value="1dayq">24 Hour Ban</option>
                                <option value="3dayq">72 Hour Ban</option>
                                <option value="permanentq">Permaban</option>
                                <option value="1day">24 Hour Ban (PUBLIC)</option>
                                <option value="3day">72 Hour Ban (PUBLIC)</option>
                                <option value="permanent">Permaban (PUBLIC)</option>
                                <option value="delete">Delete Post (Permaban)</option>
                                <option value="deleteImgq">Delete Image And Permaban</option>
                                <option value="deleteImg">Delete Image And Permaban (PUBLIC)</option>
                                <option value="falseRep">Ban Reporting IP (False Report)</option>
                                <option value="nothing">Delete Report (do nothing)</option>
                            </select>
                            Reason: <input id="reason-<%=thisReport.board%>-<%=thisReport.post%>"></input>
                            <button class="banHammer" id="bh-<%=thisReport.board%>-<%=thisReport.post%>">TAKE ACTION!</button>
                        </div>
                    <% } %>
                </div> 
                <div class="tab-pane fade" id="tab6default">
                  Board: <input type="text" id="getUserByIPBoard" name="board" placeholder="Board"><br>
                  IP: <input type="text" id="getUserByIPAddress" name="IP" placeholder="IP"><br>
                  <button id="postByIP">Submit</button>
                    <hr>
                <div id="pulledPostsByIP"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
	</div>
</div></div>
</body>
</html>

</html>
