<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- add JQuery -->
<script src="/js/main.js"></script>
    <head>
        <title>Nodechan- 404 Error Not Found</title>
    </head>
</head>
<body class="main">
<div class="main-container">
    <div class="boardNav"> 
       [ <%allBoards.forEach(function(board){%>
            
           / <a href="/boards/<%=board.boardCode%>" title="<%=board.boardCode%> - <%=board.boardTitle%>" class="boardCodes"><%=board.boardCode%></a> 
            
        <% }) %> ]
    </div>
    <hr class="abovePostForm">
    <div class="yourBan">
        <h1>You have been BANNED</h1>
    </div>
    <hr class="abovePostForm">
    <div class="boardNav"> 
       [ <%allBoards.forEach(function(board){%>
            
           / <a href="/boards/<%=board.boardCode%>" title="<%=board.boardCode%> - <%=board.boardTitle%>" class="boardCodes"><%=board.boardCode%></a> 
            
        <% }) %> ]
    </div>
</div>
</body>
