<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=2.5">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="image/x-icon" href="/favicon.ico">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- add JQuery -->
<script src="/js/main.js"></script>

    <title>
        /<%=thisBoard.boardCode%>/ - <%=thisBoard.boardTitle%>
    </title>
</head>
<body class="main">
<div class="main-container">
<div class="boardNav"> 
   [ <%allBoards.forEach(function(board){%>
        
       / <a href="/boards/<%=board.boardCode%>" title="<%=board.boardCode%> - <%=board.boardTitle%>" class="boardCodes"><%=board.boardCode%></a>
        
    <% }) %> / ]
</div>
<div class="topBanner">
    <hr class="abovePostForm">
    <img src="/<%=banner%>" class="banner">
    <h1 class="boardTitle">/<%=thisBoard.boardCode%>/ - <%=thisBoard.boardTitle%></h1>

</div>

    <hr class="abovePostForm">
    <form enctype='multipart/form-data' action='/boards/<%=thisBoard.boardCode%>' method='POST'>
        <table id="newThread" style="display:table;">
            <tbody>
            <tr data-type="Name">
                <td>Name</td>
                <td><input type="text" name="name" placeholder="name"></input></td>
            </tr>
            <tr data-type="Subject">
                <td>Subject</td>
                <td><input type="text" name="subject" placeholder="subject"></input> <button type="submit">Submit</button></td>
            </tr>
            <tr data-type="Text">
                <td>Comment</td>
                <td><textarea name="text" cols="48" rows="4" warp="soft"></textarea></td>
            </tr>
            <tr data-type="file">
                <td>File</td>
                <td><input type="file" name="post-image"/></td>
            </tr>
            </tbody>
        </table>
    </form>
    <hr>
    <div class="bottomMenu">
        [<a href="/boards/<%=thisBoard.boardCode%>">Refresh</a>] [<a href="#footer">Bottom</a>] [<a href="/boards/<%=thisBoard.boardCode%>/catalog">Catalog</a>]
        </div>

    <hr>

<%if(OPs.length>0){%>
    <%OPs.forEach(function(OP){%>
    <% var tp = 0 /* # of pictures in preview thread*/ %>
    <% var prev = OP.preview; for(var i=0;i<prev.length;i++){ %>
        <% if(prev[i].fileName) {%>
            <% tp++; %>        
        <% } %>
    <% } %>
    <% var omittedPosts; prev.length < OP.posts ? omittedPosts= OP.posts-prev.length : omittedPosts = 0 %>


    <div class="thread-preview-container">
        <% var preview = OP.preview %>
        <% preview.forEach(function(post){ %>
        <div class="postContainer" id="p<%=post.postID%>">
            <%if(post.postID != post.OP){%>
            <div class="memeArrows">>></div>
            <%}%>
            <div id="<%=post.postID%>" class=<%if(post.postID == post.OP){%>"post OP"<%} else {%>"post reply"<%}%> id="<%=post.postID%>">
                <div class="postInfo">
                    <input type="checkbox" name="" id="delete_<%=post.postID%>" class="postDeleteBox" value="delete"> 
                    <span class="subject"><%=post.subject%></span> 
                    <span class="nameBlock">
                    <span class="name"><%if(post.name.length>0){%><%=post.name%><%}else{%>Anonymous<%}%></span> 
                    <span class="posteruid id_<%=post.userID%>"> 
                    (ID: <span class="hand" title="Highlight posts by this ID" style="background-color: <%=post.userIDColor%>;"><a class="hand"><%=post.userID%></a></span>)
                    </span> 
                    <span title="United States" class="flag flag-us"></span>
                    </span> 
                    <% var ptime = new Date(post.time);%>
                    <% var time = String(ptime).split(" ")%>
                    <% var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'] %>
                    <% var month = months.indexOf(time[1])+1 %>
                    <% var day = time[2]%>
                    <% var year = time[3].slice(2)%>
                    <span class="postTime"><%if(month<10){%><%=String("0"+month)%><%} else { %><%=month%><% } %>/<%=day%>/<%=year%> (<%=time[0]%>) <%=time[4]%></span>
                    <span class="postNumber">
                    <a href="#<%=post.postID%>" class="highlightThisPost" id="<%=post.postID%>">No.</a> <a href="#" class="quotePostNumber" id="<%=post.postID%>"><%=post.postID%></a></span> <%if(post.postID!=post.OP){%><a href="#" class="report" id="rp-<%=post.postID%>"> ▶ </a><div class="reply hidden" id="mrp-<%=post.postID%>" style="width:5%;height:2%;font-size:8px;position:relative;z-index:0"><a class="report-link" id="report-link-<%=post.postID%>" target="_blank" href="/report/<%=thisBoard.boardCode%>/<%=post.postID%>">Report</a></div><%}%>
                     <%if(post.postID==post.OP){%>[<a href="/<%=thisBoard.boardCode%>/thread/<%=post.OP%>" class="reply-link">Reply</a>] <a href="#" class="report" id="rp-<%=post.postID%>"> ▶ </a><div class="reply hidden" id="mrp-<%=post.postID%>" style="width:5%;height:2%;font-size:8px;position:relative;z-index:0"><a target="_blank" class="report-link" id="report-link-<%=post.postID%>" href="/report/<%=thisBoard.boardCode%>/<%=post.postID%>">Report</a></div><%}%> 
                </div>
            <%if(post.fileSize){%>
            <div class="file">
                <div class="FileInfo">
                    File: <a href="/images/<%=post.fileName%>" target="_blank" class="fileLink"><%=post.fileOriginalName%></a>
                    <% if(post.fileSize < 1000 ){ %>
                    (<%=post.fileSize%> Bytes, 
                    <%} else { %>
                    <%var filesize = Math.floor(post.fileSize/1000)%>
                    <%if(filesize < 1000){ %>
                    (<%=filesize%> KB, 
                    <%} else if(filesize > 1000) {%>
                    <%newsize = Math.floor(filesize/1000) + "." + filesize%100 %>(<%=newsize%> MB,
                    <% } %>
                    <% } %> 
                    <%=post.fileDimensions%>)
                </div>
                <div class="thumbnail">
                    <a href="/images/<%=post.fileName%>" target="_blank">
                    <img src="/images/s<%=post.time%>.png" alt="<%=post.fileSize%> Bytes">
                    </a>
                </div>
            </div>
                <%}%>
                <div class="postMessage">
                    <%var body = post.body%>
                    <%var mySplit = body.split('\r\n')%>
                    <% mySplit.forEach(function(lines){%>
                    <span class='postContents' <% if(/^&gt;/.test(lines)){%>style="color:#789922"<%}%>>
                    <% var lArr = lines.split(' ')%>
                    <% for(var i=0;i<lArr.length;i++) { %>
                    <% var word = lArr[i]%>
                    <% if(/^&gt;&gt;\d+$/.test(word)){%> 
                    <% lArr[i] = '<a href="#'+word.slice(8)+'" class="postLink">'+word+'</a>' %>
                    <% } %>
                    <% } %>
                    <%-lArr.join(' ')%>
                    </span><br/>
                    <%})%>
                    <% if(post.publicBan==true){%>
                        <span class="userBanned">(USER WAS BANNED FOR THIS POST)</span>
                    <% } %>
                </div>
            </div>
            <% if(post.postID==post.OP) { %>
                <% if(omittedPosts!=0){ %>
                    <div class="threadmeta"><%=omittedPosts%> Replies and <%=(OP.images-tp)%> Pictures Omitted. <a href="/<%=thisBoard.boardCode%>/thread/<%=post.OP%>"">Click here</a> to view.</div>
                <% } %>
            <% } %>
        </div>
        <% })%>
    </div>
    <hr>
    <%})%>
<%} else {%>
    <div class="blankBoard">This board is valid but there's nothing here! Make the first post!</div>
<% } %>

</div>
<div class="footMenu">
    <div class="pageTab">	
    <%for(var n=1;n<=10;n++){ %>
        [<a href="/boards/<%=thisBoard.boardCode%>/<%=n%>" class="pageLink" <%if(n==page){%>style="font-weight:bold"<%}%> ><%=n%></a>]
    <% } %>	 
    <button id="nextPage"><a class="nextPgButton" href="/boards/<%=thisBoard.boardCode%>/<%if(page<10){%><%=page+1%><%} else {%>10<% } %>">Next</a></button></div><hr>

    <div class="bottomMenu">
    [<a href="/boards/<%=thisBoard.boardCode%>">Refresh</a>] [<a href="#top">Top</a>] [<a href="/boards/<%=thisBoard.boardCode%>/catalog">Catalog</a>]
    </div>
    <div class="bottomCtrl">
        <span class="deleteForm">
            Delete Post: [ <input type="hidden" name="mode" value="userDelete">
                <input type="checkbox" name="deleteImageOnly" class="deleteImageOnly" value=true> File Only]
            <input type="submit" id="delete" value="Delete">
        </span>
    </div>
</div> 
<hr>

<div class="boardNav"> 
   [ <%allBoards.forEach(function(board){%>
       
       / <a href="/boards/<%=board.boardCode%>" title="<%=board.boardCode%> - <%=board.boardTitle%>" class="boardCodes"><%=board.boardCode%></a> 
        
    <% }) %> / ]
</div>
<div class="footer" id="footer">
All works posted on here are artistic works of fiction and falsehood. Only a fool would take anything posted here as fact.
</div>
</body>
