<html>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<body class="main">

        <form action='/<%=boardID%>/thread/<%=threadID%>' method='POST'>
            <table id="newPost">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name" placeholder="name"></input></td>
                    </tr>
                    <tr>
                        <td>Subject</td>
                        <td><input type="text" name="subject" placeholder="subject"></input> <button type="submit">Post</button></td>
                    </tr>
                    <tr>
                        <td>Comment</td>
                        <td><textarea name="text" cols="48" rows="4" warp="soft"></textarea></td>
                    </tr>
                    <tr>
                        <td>File</td>
                        <td><input type="file" name="post-image"></input></td>
                    </tr>
                </tbody>
            </table>
        </form> 

            <br>
            
            

</body>
<div id="thread">
<%posts.forEach(function(post){%>
<div class=<%if(post.postID == post.OP){%>"post OP"<%} else {%>"post reply"<%}%> id="<%=post.postID%>">
    <div class="postInfo"><input type="checkbox" name="<%=post.postID%>">
    <span class="subject"><%=post.subject%></span>
    <span class="name"><%if(post.name.length>0){%><%=post.name%><%}else{%>Anonymous<%}%></span>
    <span class="postTime"><%=new Date(post.time)%></span>
    <span class="postNumber">No. <%=post.postID%></span>
    </div>
<div class="postMessage"><%-post.body%></div>
    </div>
<%})%>
</div>
</html>
