<html>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- add JQuery -->
<script>
$(document).ready(function(){
    $("a.highlightThisPost").click(function(){
        var str = String(this)
        var post = str.split('#')[1]
        $('div.reply').removeClass('highlight')
        $('div.reply#'+post).addClass('highlight')
    });

    $('.posteruid').click(function(){
        var id = $(this).attr('class').split(' ')[1]
        $('div.reply').removeClass('highlight')
        $('.'+id).parent().parent().parent().addClass('highlight')
        $('.OP').removeClass('highlight')
        
    });

    $('a.postLink').click(function(){
        var post = $(this).attr('href').slice(1)
        $('div.reply').removeClass('highlight')
        $('div.reply#'+post).addClass('highlight')
    });

    $('a.quotePostNumber').click(function(){
        var post = $(this).attr('id')
        $('textarea.text').val($('textarea.text').val()+'>>'+post+'\r\n');       
    })

})
</script>
<body class="main">

<div class="boardNav"> 
   [ <%allBoards.forEach(function(board){%>
        
       / <a href="/boards/<%=board.boardCode%>" title="<%=board.boardCode%> - <%=board.boardTitle%>"><%=board.boardCode%></a> 
        
    <% }) %> ]
</div>
    <hr class="abovePostForm">
    <h1 class="boardTitle">/<%=thisBoard.boardCode%>/ - <%=thisBoard.boardTitle%></h1>
        <form action='/<%=thisBoard.boardCode%>/thread/<%=posts[0].OP%>' method='POST' enctype="multipart/form-data">
            <table id="newPost">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name" placeholder="name"></input></td>
                    </tr>
                    <tr>
                        <td>Subject</td>
                        <td><input type="text" name="subject" placeholder="subject"></input> <button type="submit">Post</button></td>
                    </tr>
                    <tr>
                        <td>Comment</td>
                        <td><textarea name="text" class="text" cols="48" rows="4" warp="soft"></textarea></td>
                    </tr>
                    <tr>
                        <td>File</td>
                        <td><input type="file" name="post-image"></input></td>
                    </tr>
                </tbody>
            </table>
        </form> 
        <hr>
    <div class="overboard" id="top"> <div class="threadNav">[<a class="threadNavItem" href="/boards/<%=thisBoard.boardCode%>">Return</a>] [<a class="threadNavItem" href="/boards/<%=thisBoard.boardCode%>/catalog">Catalog</a>] [<a class="threadNavItem" href="#bottom">Bottom</a>] [<a class="threadNavItem" href="#">Update</a>] </div><div class="metadata"> <span title="replies"><%=metadata.replies%></span> / <span title="images"><%=metadata.images%></span> / <span title="posters"><%=metadata.posters%></span> / <span title="page"><%=metadata.page%> </span> </div></div>
        <hr>
<div class="thread" id="t<%=posts[0].OP%>">  
<%posts.forEach(function(post){%>
    <div class="postContainer" id="p<%=post.postID%>">
    
    <%if(post.postID != post.OP){%><div class="memeArrows">>></div><%}%>
    <div id="<%=post.postID%>" class=<%if(post.postID == post.OP){%>"post OP"<%} else {%>"post reply"<%}%> id="<%=post.postID%>">
        <div class="postInfo">
            <input type="checkbox" name="" value="delete"> 
            <span class="subject"><%=post.subject%></span> 
            <span class="nameBlock">
                <span class="name"><%if(post.name.length>0){%><%=post.name%><%}else{%>Anonymous<%}%></span> 
                <span class="posteruid id_<%=post.userID%>"> 
                    (ID: <span class="hand" title="Highlight posts by this ID" style="background-color: <%=post.userIDColor%>;"><a class="hand"><%=post.userID%></a></span>)
                </span> 
                <span title="United States" class="flag flag-us"></span>
            </span> 
<% var ptime = new Date(post.time);%>
<% var time = String(ptime).split(" ").slice(0,5).join(" ")%>
            <span class="postTime"><%=time%></span>
            <span class="postNumber">
                <a href="#<%=post.postID%>" class="highlightThisPost" id="<%=post.postID%>">No.</a> <a href="#" class="quotePostNumber" id="<%=post.postID%>"><%=post.postID%></a></span>
            <!-- <a href="#" class="postMenuBtn" title="Post menu" data-cmd="post-menu">▶</a> -->
        </div>

            <%if(post.fileSize){%>
            <div class="file">
            <div class="FileInfo">
               File: <a href="/images/<%=post.fileName%>" target="_blank"><%=post.fileOriginalName%></a>
                    <% if(post.fileSize < 1000 ){ %>
                        (<%=post.fileSize%> Bytes, 
                    <%} else { %>
                        <%var filesize = Math.floor(post.fileSize/1000)%>
                        <%if(filesize < 1000){ %>
                            (<%=filesize%> KB, 
                        <%} else if(filesize > 1000) {%>
                            <%newsize = Math.floor(filesize/1000) + "." + filesize%100 %>(<%=newsize%> MB,
                        <% } %>
                    <% } %> 
                    <%=post.fileDimensions%>)
            </div>
            <div class="thumbnail">
                <a href="/images/<%=post.fileName%>" target="_blank">
                    <img src="/images/s<%=post.time%>.png" alt="<%=post.fileSize%> Bytes">
                </a>
            </div>
            <%}%>
<!--        <div class="postMessage">
            <p><%-post.body%></p>
        </div>-->
            <div class="postMessage">
                <%var body = post.body%>
                <%var mySplit = body.split('\r\n')%>
                <% mySplit.forEach(function(lines){%>
                    <span class='postContents' <% if(/^&gt;/.test(lines)){%>style="color:#789922"<%}%>>
                    <% var lArr = lines.split(' ')%>
                       <% for(var i=0;i<lArr.length;i++) { %>
                            <% var word = lArr[i]%>
                            <% if(/^&gt;&gt;\d+$/.test(word)){%> 
                                <% lArr[i] = '<a href="#'+word.slice(8)+'" class="postLink">'+word+'</a>' %>
                            <% } %>
                        <% } %>
                    <%-lArr.join(' ')%>
                    </span><br/>
                <%})%>
                
            </div>
    </div>
    </div>
</div>
<%})%>
</div>

<hr>
    <div class="overboard"> <div class="threadNav">[<a class="threadNavItem" href="/boards/<%=thisBoard.boardCode%>">Return</a>] [<a class="threadNavItem" href="/boards/<%=thisBoard.boardCode%>/catalog">Catalog</a>] [<a class="threadNavItem" href="#top">Top</a>] [<a class="threadNavItem" href="#">Update</a>] </div><div class="metadata"> <span title="replies"><%=metadata.replies%></span> / <span title="images"><%=metadata.images%></span> / <span title="posters"><%=metadata.posters%></span> / </div></div>
<hr>

<div class="boardNav" id="bottom"> 
   [ <%allBoards.forEach(function(board){%>
        
       / <a href="/boards/<%=board.boardCode%>" title="<%=board.boardCode%> - <%=board.boardTitle%>"><%=board.boardCode%></a> 
        
    <% }) %> ]
    <br>
</div>
</body>
</html>
